.btn {
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    padding: 30px;
    width: auto;
    height: auto;
}

.delete {
    padding-top: 4px;
    width: 90px;
    height: 40px;
    background-color: #1a8fe3;
    border-radius: 10px;
}

.cancel {
    padding-top: 4px;
    width: 90px;
    border-radius: 10px;
    height: 40px;
    background-color: #ddd;
}

h5 {
    font-weight: bold;
}

p {
    padding-bottom: 5px;
    font-size: 13px;
}